.simpleSwatchPicker {
  position: relative;
  width: 2em;
  height: 2em; }
  .simpleSwatchPicker .sspSelectedChip {
    position: relative;
    width: 2em;
    height: 2em;
    border: 1px solid #eeeeee;
    background-color: white; }
  .simpleSwatchPicker .sspChip {
    width: 0.5em;
    height: 1em;
    border-left: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    float: left; }
  .simpleSwatchPicker .sspPalette {
    position: absolute;
    top: 0;
    display: none;
    /* h, w will be set by script to fit rows, cols */
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee; }
